/* #region | Main elements */
@font-face {
	font-family: "VT323";
	src: url("media/VT323-Regular.ttf");
}

:root {

	/* Measurements */
	--space_s: .4rem;
	--border: .3rem;
	--text_large: 2.5rem;
	--text_normal: 2rem;

	/* Colors */
	--bg_color: hsl(41, 90%, 4%);
	--secondary_color: hsl(41, 100%, 14%);
	--fg_color: hsl(41, 100%, 50%);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "VT323";
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: var(--bg_color);
	color: var(--fg_color);
	filter: url(#crt_glow);
}

h1 { font-size: var(--text_large); }
p { font-size: var(--text_normal); }
a { color: var(--fg_color); }

hr { border: calc(var(--border) / 2) solid var(--secondary_color); }
/* #endregion */


/* #region | CRT effects */
#crt_pixels {
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	opacity: .5;
}

#crt_pixel > .fill_bg { fill: var(--bg_color); }
/* #endregion */


/* #region | Header */
#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-shrink: 0;
	padding: var(--space_s);
}

#navbar_toggle {
	cursor: pointer;
	width: var(--text_large);
	text-align: center;
}

#navbar_toggle.toggled { transform: scaleX(-1); }
/* #endregion */


/* #region | Main container */
#main {
	display: flex;
	min-height: 0;
	flex-grow: 1;
}
/* #endregion */


/* #region | Navbar */
#navbar {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	padding: var(--space_s);
	border-right: var(--border) solid var(--secondary_color);
}
/* #endregion */


/* #region | Content */
#content_container {
	display: flex;
	flex-grow: 1;
}

.content {
	flex: 1;
	overflow: auto;
}
/* #endregion */


/* #region | Footer */
#footer { padding: var(--space_s); }
/* #endregion */
