/* #region | Main elements */
@font-face {
	font-family: "VT323";
	src: url("media/VT323-Regular.ttf");
}

:root {

	/* Measurements */
	--space_s: .4rem;
	--space_m: 1rem;
	--border: .3rem;

	--fg_glow_range: .8rem;
	--secondary_glow_range: .3rem;

	--text_large: 2.5rem;
	--text_normal: 2rem;
	--text_small: 1.4rem;

	/* Colors */
	--bg_color: hsl(41, 90%, 4%);
	--secondary_color: hsl(41, 100%, 14%);
	--fg_color: hsl(41, 100%, 50%);

	--secondary_color_glow: hsla(41, 100%, 14%, 0.8);
	--fg_color_glow: hsla(41, 100%, 50%, 0.6);
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "VT323";
	scrollbar-color: var(--fg_color) transparent;
}

*::selection {
	color: var(--bg_color);
	background-color: var(--fg_color);
}

html { overflow: hidden; }

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100vw;
	height: 100dvh;
	background-color: var(--bg_color);
	color: var(--fg_color);
	line-height: 1em;
	font-size: var(--text_normal);
	text-shadow: 0 0 var(--fg_glow_range) var(--fg_color_glow);
}

body::before, body::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100dvh;
	z-index: 9;
	pointer-events: none;
}

body::before {
	background: linear-gradient(#0004 0%, #0000 15%, #0000 85%, #0004 100%);
	background-size: .4rem .4rem;
	mix-blend-mode: overlay;
}

body::after {
	height: 10rem;
	background: linear-gradient(#0000, #fff 1rem, #fff 9rem, #0000 10rem);
	opacity: .1;
	mix-blend-mode: soft-light;
	animation: crt_scan 15s linear infinite;
}

h1 { font-size: var(--text_large); }
a { color: var(--fg_color); }

hr {
	border: none;
	border-bottom: var(--border) solid var(--secondary_color);
	box-shadow: 0 0 var(--secondary_glow_range) 0 var(--secondary_color_glow);
}

ul > li { list-style-type: square; }
/* #endregion */


/* #region | Misc classes */
.vr {
	width: var(--border);
	flex-shrink: 0;
	background-color: var(--secondary_color);
	box-shadow: 0 0 var(--secondary_glow_range) 0 var(--secondary_color_glow);
}

.smalltext {
	font-size: var(--text_small);
	line-height: 1em;
	color: var(--secondary_color);
	text-shadow: 0 0 var(--secondary_glow_range) var(--secondary_color_glow);
}
/* #endregion */


/* #region | Header */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-shrink: 0;
	padding: var(--space_s);
}

#navbar_toggle {
	cursor: pointer;
	width: var(--text_large);
	text-align: center;
}

.nav_toggled #navbar_toggle { transform: scaleX(-1); }
/* #endregion */


/* #region | Main container */
.main {
	display: flex;
	min-height: 0;
	flex-grow: 1;
}
/* #endregion */


/* #region | Navbar */
#navbar {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	padding: var(--space_s);
	overflow-y: auto;
}

.nav_toggled #navbar { display: none; }

#navbar > .button {
	margin: var(--space_s);
	padding: var(--space_s);
	cursor: pointer;
	background-color: var(--secondary_color);
	box-shadow: 0 0 var(--secondary_glow_range) 0 var(--secondary_color_glow);
}

#navbar > .button > p::before {
	content: "  ";
	white-space: pre;
}

#navbar > .button.active > p::before { content: "> "; }
/* #endregion */


/* #region | Content */
.content_container { flex-grow: 1; }

.content {
	display: none;
	padding: var(--space_s);
	height: 100%;
	overflow: auto;
}

.content.active { display: block; }

.content hr { margin: var(--space_s) 0; }

.timeline_container {
	display: flex;
	gap: var(--space_s);
	margin-top: 2rem;
}

#timeline_years {
	position: relative;
	width: 2em;
	flex-shrink: 0;
	border-right: var(--border) solid var(--fg_color);
}

.timeline_year { position: absolute; }
.timeline_year::after { content: "-"; }

#timeline_events {
	position: relative;
	flex-grow: 1;
}

.timeline_event {
	position: absolute;
	cursor: default;
	z-index: 0;
}

.timeline_event_duration,
.timeline_event_underline {
	position: absolute;
	width: 100%;
	height: var(--border);
	bottom: 0;
	background-color: var(--secondary_color);
	box-shadow: 0 0 var(--secondary_glow_range) 0 var(--secondary_color_glow);
}

.timeline_event_duration { width: var(--border); }

.timeline_event_label {
	padding: 0 0 var(--space_s) var(--space_s);
	color: var(--secondary_color);
	text-shadow: 0 0 var(--secondary_glow_range) var(--secondary_color_glow);
}

.timeline_event:hover { z-index: 1; }

.timeline_event:hover .timeline_event_label {
	color: var(--fg_color);
	text-shadow: 0 0 var(--fg_glow_range) var(--fg_color_glow);
}

.timeline_event:hover .timeline_event_duration,
.timeline_event:hover .timeline_event_underline {
	background-color: var(--fg_color);
	box-shadow: 0 0 var(--fg_glow_range) 0 var(--fg_color_glow);
}
/* #endregion */


/* #region | Footer */
.footer { padding: var(--space_s); }
/* #endregion */


/* #region | Responsive layout */
@media (max-aspect-ratio: .9) {

	/* Hide navbar by default */
	#navbar_toggle { transform: scaleX(-1); }
	#navbar { display: none; }

	/* Hide navbar/content vertical rule */
	.main > .vr { display: none; }

	/* Show navbar when toggled */
	.nav_toggled #navbar_toggle { transform: none; }
	.nav_toggled #navbar {
		display: flex;
		width: 100vw;
	}

	/* Hide content when navbar toggled */
	.nav_toggled .content_container { display: none; }
}
/* #endregion */


/* #region | Keyframe animations */
@keyframes crt_scan {
	from { top: -10rem; }
	to { top: 100dvh; }
}
/* #endregion */
